AUTH_SERVICE_PORT=8081
GRPC_SERVER_PORT=9090
DB_EXTERNAL_PORT=5433
KC_EXTERNAL_PORT=9000
KC_HTTP_PORT=9000

AUTH_DB_ROOT_USER=keycloak123
AUTH_DB_ROOT_PASSWORD=Password123
AUTH_DB_NAME=keycloak_db

AUTH_DB_USERNAME=user
AUTH_DB_PASSWORD=userPassword123
AUTH_DB_SCHEMA=keycloak_schema
AUTH_DB_URL=jdbc:postgresql://keycloak_postgres:5432/keycloak_db?currentSchema=keycloak_schema

KC_ADMIN_USER=Admin
KC_ADMIN_PASSWORD=Admin123
KC_DB=postgres
KC_DB_POOL_INITIAL_SIZE=5
KC_DB_POOL_MIN_SIZE=5
KC_DB_POOL_MAX_SIZE=15
KC_TRANSACTION_XA_ENABLED=false
KC_HOSTNAME_STRICT=false
KC_FEATURES=http-optimized-serializers

APP_REALM=dev
APP_CLIENT_ID=auth-client
APP_CLIENT_SECRET=4953cb21-7dce-43cf-831d-004495a05509
APP_BASE_URL=http://keycloak:9000
APP_AUTH_SERVER_URL=http://keycloak:9000/realms/dev/protocol/openid-connect
APP_REDIRECT_URI_1=http://localhost:8081/*
APP_REDIRECT_URI_2=http://auth-service:8081/*
APP_WEB_ORIGIN=http://localhost:8081

APP_ADMIN_USERNAME=Admin
APP_ADMIN_EMAIL=Admin@mycompany.com
APP_ADMIN_PASSWORD=TemporaryPassword123!